.animal-root {
	.title-icon {
		size: 30px;
		margin-top: 15px;
	}
	.title {
		margin-top: 5px;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-size: 35px;
		line-height: 26px;
	}
	.search-filter {
		margin-top: 15px;
		margin-right: 4px;
	}
	.add-animal-button {
		color: black;
		background: #f5df4d;
		background-color: #f5df4d;
	}
	.gallery {
		margin-top: 10px;
	}
}
